body {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  align: center;
  background-color: black;
}
h1, h2, h3, h4 {
  font-family:verdana;
  text-align: center;
  color: white;
}
a {
  color: white;
  text-decoration: none;
  font-style: Tahoma, Geneva, sans-serif;
  font-size: 22px;
  text-align:center;
}
p, li {
  color: white;
  font-family:verdana;
  font-size:100%;
}
p{
  text-align:center;
}
hr{
  width: 90%;
}
caption{
  color: white;
  width: 80%;
  text-align: center;
  font-style: Helvetica, sans-serif;
  font-size: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  border-color: gray;
  border-top-style: double;
  border-bottom-style: double;
}
table {
  margin-top: 10%;
  padding-left:10%;
  padding-right:10%;
  align:center;
  width: 100%;
}
td {
  align: right;
  width: 25%;
  padding-left:5%;
  padding-right:5%;
  text-align:center;
  border-style: solid;
  border-color: gray;
}
.container {
  width: 50%;
  margin-left:25%;
  margin-right: 25%;
  text-align:center;
}
.title {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20%;
}
#titleimg{
  width: 100%;
  height: 20%;
}
#aboutmeimg{
  width: 100%;
  height: 5%;
  margin-bottom: 20%;
}
#weektitleimg{
  width: 100%;
  height: 5%;
  margin-bottom: 20%;
}
#normalimg{
  width: 100%;
  border-color: gray;
  border-style: double;
}
